@import "../assets/css/_variables.scss";
/* -------------------- */
/* CSS RESET */
/* -------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}
/* -------------------- */
/* MENU MOBILE */
/* -------------------- */
.menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    width: 40px;
    position: fixed;
    top: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 100;

    .line {
        width: 100%;
        height: 10px;
        background: map-get($colors, black);
        border-radius: 8px;
    }
}

.nav-menu {
    display: none;
    position: fixed;
    height: 100vh;
    background-color: #fff;
    width: 75%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-shadow: 4px 4px 100px rgba(0, 0, 0, .8);
    transition: all 1s;
    
    &.ativo {
        display: flex;
    }

    ul {
        list-style: none;
        width: 90%;
        
        a {
            text-decoration: none;
            color: map-get($colors, black);
            font-size: 25px;
            display: flex;
            align-items: center;
            width: 100%;
            background: #f2f3f5;
            padding: 15px;
            margin: 10px 0;
            border-radius: 20px;
            
            i {
                margin-right: 15px;
            }
        }
    }
}
/* -------------------- */
/* START */
/* -------------------- */
#start {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/img/me.jpg');
    background-repeat: no-repeat;
    background-position: center;

    .backdrop {
        width: 100%;
        height: 100%;
        display: flex;
        background: rgba(255, 255, 255, 0.397);
    }
}
/* -------------------- */
/* SOBRE */
/* -------------------- */
#sobre {
    h2 {
        font-weight: 700;
        font-size: 26px;
        color: #728394;
    }

    ul {
        text-align: initial;

        li {
            span {
                font-weight: 700;
            }
        }
    }
}
/* -------------------- */
/* FATOS */
/* -------------------- */
#fatos {
    .card {
        margin: 30px 0;
        
        i {
            display: block;
            
        }

        span {
            font-weight: 700;
            font-size: 32px;
        }
    }
}
/* -------------------- */
/* RESPONSIVIDADE */
/* -------------------- */
@media (min-width: 768px) {
    #start {
        img {
            max-width: 768px;
        }
    }
}